 // List of title attribute values and Font Awesome icons for the formatting buttons
 $rtt-icons:   "b" "\f032" "Toggle Bold",
            "i" "\f033" "Toggle Italic",
            "u" "\f0cd" "Toggle Underline",
            "sub" "\f12c" "Toggle Subscript",
            "super" "\f12b" "Toggle Superscript",
            "left" "\f036" "Left Justify",
            "center" "\f037" "Center",
            "right" "\f038" "Right Justify",
            "strike" "\f0cc" "Toggle Strikethrough",
            "indent" "\f03c" "Indent Right",
            "outdent" "\f03b" "Indent Left",
            "hr" "\2014" "Insert Horizontal Rule",
            "ol" "\f0cb" "Insert Ordered List",
            "ul" "\f0ca" "Insert Unordered List",
            "img" "\f03e" "Insert Image",
            "link" "\f0c1" "Create Link",
            "unlink" "\f127" "Remove Link",
            "clear" "\f12d"  "Remove Formatting" !default;

@mixin richtexttoolbar ($primary-stylename: v-richtexttoolbar ) {
  
  .v-richtextarea {
    overflow: visible !important;
  }  
  
  .#{$primary-stylename} {
    @include valo-gradient($color: $v-background-color);
    @include box-shadow(valo-bevel-and-shadow($bevel: $v-bevel, $background-color: $v-background-color, $gradient: $v-gradient));
    border: valo-border();
    color: valo-font-color($v-background-color);
  }
  
  .v-richtextarea .#{$primary-stylename} {
    border: none;
    border-bottom: valo-border();
  }  
  
  .#{$primary-stylename} .rtt-spacer{
  	display: block;
  	height:0px;
  }
  
  .#{$primary-stylename} .gwt-ToggleButton,
  .#{$primary-stylename} .gwt-PushButton {
    display: inline-block;
    line-height: $v-unit-size;
    width: $v-unit-size;
    text-align: center;
    outline: none;
    position: relative;

    &:hover {
      color: valo-font-color($v-background-color, 1);
  	  position: relative;
    }
    
    &:after{
       content: "";
       visibility:hidden;
       opacity:0;
       transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    }
    
    &:hover:after {
      @include valo-tooltip-style;
      position: absolute;
      left: 0;
      top: 100%;
      white-space: nowrap;
      visibility:visible;
      opacity:1;
      transition-delay:0.5s;
      z-index:999999;
    }
  }

  .#{$primary-stylename} .gwt-ToggleButton-down,
  .#{$primary-stylename} .gwt-ToggleButton-down-hovering {
    $grad: valo-gradient-style($v-gradient) valo-gradient-opacity($v-gradient)/4;
    //box-shadow: none;
    @include valo-gradient($color: darken($v-background-color, 10%), $gradient: $grad, $direction: to top);
  }

 
  .#{$primary-stylename} {

      div:before {
        font-family: FontAwesome;
      }

    @each $pair in $rtt-icons {
      $class: first($pair);
      $char: nth($pair,2);
      $title: last($pair);
      
      .rtt-#{$class}:before {
        content: "#{$char}";
      }
      
      .rtt-#{$class}:hover:after {
        content: "#{$title}";
      }
    }
  }
  
  //Seems to work only in Firefox
 .rtt-sizeselect option:nth-of-type(2) {
    font-size: x-small;	 
 }
 .rtt-sizeselect option:nth-of-type(3) {
    font-size: small;	 
 }
 .rtt-sizeselect option:nth-of-type(4) {
    font-size: normal;	 
 }
  .rtt-sizeselect option:nth-of-type(5) {
    font-size: large;	 
 }
  .rtt-sizeselect option:nth-of-type(6) {
    font-size: x-large;	 
 }
  .rtt-sizeselect option:nth-of-type(7) {
    font-size: xx-large;	 
 }
 
  
  .#{$primary-stylename}  {    
    select {
      margin: 0 0 round($v-unit-size/4) round($v-unit-size/4);
 	  font-size: $v-font-size;
      font-family: FontAwesome, $v-font-family;
      height: round( 0.8 * $v-font-size + $v-unit-size/2);
    }
    
    div {
    
      display: inline;
      position: relative;
      
      &:hover {
        color: valo-font-color($v-background-color, 1);
  	    position: relative;
      }
    
      &:after{
        content: "";
        visibility:hidden;
        opacity:0;
        transition:visibility 0.5s linear, opacity 0.5s linear;
      }
    
      &:hover:after {
        @include valo-tooltip-style;
        position: absolute;
        left: 0;
        top: 100%;
        white-space: nowrap;
        visibility:visible;
        opacity:1;
        transition-delay:0.5s;
        z-index:999999;
     }
   }
   .rtt-family:hover:after {
   		content: "Font family";
   }
   
   .rtt-size:hover:after {
   		content: "Font size";
   }
   
   .rtt-bgcolor:hover:after {
   		content: "Background color";
   }
   
    .rtt-fcolor:hover:after {
   		content: "Font color";
   }
}    
  
  

  .#{$primary-stylename}-readonly {
    padding: ceil($v-unit-size/9) ceil($v-unit-size/6);
    background: transparent;
  }

}
